shamefully-hoist=true
engine-strict=true
registry=https://registry.npmjs.org/
puppeteer_download_host=https://cdn.npmmirror.com/binaries
disturl=https://cdn.npmmirror.com/binaries/node
sentrycli_cdnurl=https://cdn.npmmirror.com/binaries/sentry-cli
chromedriver_cdnurl=https://cdn.npmmirror.com/binaries/chromedriver
electron_mirror=http://cdn.npmmirror.com/binaries/electron
phantomjs_cdnurl=http://cdn.npmmirror.com/binaries/phantomjs
sass_binary_site=https://cdn.npmmirror.com/binaries/node-sass
selenium_cdnurl=http://cdn.npmmirror.com/binaries/selenium
node_inspector_cdnurl=https://cdn.npmmirror.com/binaries/node-inspector
sqlite3_binary_site=https://cdn.npmmirror.com/binaries/sqlite3
sharp_dist_base_url=https://cdn.npmmirror.com/binaries/sharp-libvips
python_mirror=https://cdn.npmmirror.com/binaries/python
